{% extends 'base.html.twig' %}

{% block title %} Gestion offrestage{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Liste des rapports</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-lg-3">Titre</th>
                            <th class="col-lg-2">Domaine</th>
                            <th class="col-lg-2">Université</th>

                            <th class="text-right col-lg-1">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rapport in rapports %}
                            <tr>
                                <td>{{ rapport.titre|capitalize }}</td>
                                <td>{{ rapport.domaine.nom }}</td>
                                <td>{{ rapport.universite.nom|capitalize }}</td>

                                <td class="td-actions text-right">
                                    <a href="{{ asset(rapport.webPath) }}" download="{{ rapport.titre }}"><i class="material-icons">cloud_download</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}