{% extends 'base.html.twig' %}

{% block title %}Gestion offre de stage{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Liste des offres des stages</h4>
                    <a href="{{ path('admin_offrestage_ajouter') }}" class="btn btn-success"><i class="material-icons">control_point</i>
                        Ajouter</a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-lg-2">Titre</th>
                                <th class="col-lg-2">Societe</th>
                                <th class="col-lg-3">Domaine</th>
                                <th class="col-lg-2">Datedebut</th>
                                <th class="col-lg-2">DateFin</th>
                                <th class="text-right col-lg-1">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for offrestage in offrestages %}
                                <tr>
                                    <td>{{ offrestage.titre|capitalize }}</td>
                                    <td>{{ offrestage.societe.nom|capitalize }}</td>
                                    <td>
                                       {{ offrestage.domaine.nom }}
                                    </td>
                                    <td>{{ offrestage.dateDebut|date('d-m-Y') }}</td>
                                    <td>{{ offrestage.dateFin|date('d-m-Y')}}</td>
                                    <td class="td-actions text-right">
                                        <a href="{{ path('admin_offrestage_modifier', {'id': offrestage.id}) }}" rel="tooltip"
                                           class="btn btn-success btn-simple"
                                           data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="{{ path('admin_offrestage_supprimer', {'id': offrestage.id}) }}"
                                           rel="tooltip" class="btn btn-danger btn-simple"
                                           data-original-title="" title="">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
