{% extends 'base.html.twig' %}

{% block title %} Gestion Projet{% endblock %}

{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <h3 class="title text-center">{{ projet.sujet|capitalize }}</h3>
        <br>
        <div class="nav-center">
            <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">

                <li class="active">
                    <a href="#description" role="tab" data-toggle="tab" aria-expanded="true">
                        <i class="material-icons">info</i> fichiers
                    </a>
                </li>
                <li class="">
                    <a href="#taches" role="tab" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">location_on</i> Taches
                    </a>
                </li>
                <li class="">
                    <a href="#rapports" role="tab" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">help_outline</i> Rapports
                    </a>
                </li>

            </ul>
        </div>
        <div class="tab-content">

            <div class="tab-pane active" id="description">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Projet</h4>
                        <p class="category">

                        </p>
                    </div>
                    <div class="card-content">

                        <h3>Version actuelle</h3>
                        <a href="{{ asset(projet.webPath) }}" download="{{ projet.sujet}}"><i class="material-icons">cloud_download</i></a>
                        <h3>ajouter une nouvelle version</h3>
                        <a href="{{ path('espace_etudiant_projet_modifier', {'id': projet.id}) }}"><i class="material-icons">folder</i></a>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="taches">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">taches </h4>
                    </div>
                    <div class="card-content">
                        <table class="table">
                            <tbody>
                            {% for tache in taches %}

                            <tr>
                                <td style="width: 40px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes-{{ tache.id }}" {{ tache.check ? 'checked' : '' }}>
                                        </label>
                                    </div>
                                </td>
                                <td>{{ tache.titre }}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="rapports">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">rapports about product</h4>
                        <p class="category">
                            <a href="{{ path('espace_etudiant_rapport_projet_creer', {'id': projet.id}) }}">
                                <i class="material-icons">assignment</i>
                            </a>
                        </p>
                    </div>
                    <div class="card-content">
                        <h3>Rapport de stage : conseils de rédaction</h3>
                        Obligatoire mais essentiel !
                        Eh oui c'est « chiant » de devoir faire un rapport de stage, mais l'exercice obligatoire se révèle instructif pour faire un point sur les compétences et connaissances acquises lors de votre stage. Les conclusions écrites de votre rapport de stage permettent ensuite de mieux envisager votre avenir : pour quel poste / secteur vous devez-vous vous diriger.
                        Voici un guide de rédaction de votre rapport de stage avec le style à adopter, les attentes des profs qui liront votre chef d'œuvre et qui in fine vous serviront aussi :

                        Le contenu du rapport de stage :
                        Le correcteur souhaite analyser et comprendre l'utilité de votre stage, et l'apport que ce stage a eu sur votre futur cursus (formation, carrière), vous devez démontrer lors de la rédaction de votre rapport que votre stage vous a permis d'
                        • acquérir une connaissance approfondie d'un secteur d'activité
                        • avoir une vision globale de l'entreprise / sa structure et ses activités.
                        • approfondir les connaissances d'un métier / découvrir de nouveaux métiers
                        • assimiler des connaissances pratiques / assimiler des processus
                        • maîtriser et comprendre les enjeux des missions qu'on vous a confiées
                        • faire face et résoudre des situations de blocages, de difficultés
                        • développer des compétences (rigueur, esprit d'équipe, créativité, gestion de projet)

                        Aussi vous devez faire un point sur votre projet de carrière, le rapport de stage doit répondre aux questions suivantes :
                        • Pourquoi avez-vous choisi ce stage ? Détaillez qu'est ce qui dans l'intitulé du stage et sa mission ou dans l'entreprise vous a attiré... Pourquoi avoir postulé pour cette offre et qu'attendiez vous de ce stage au début ?
                        • Avez-vous apprécié ce stage, et pour quelles raisons ? Le stage a t il répondu à vos attentes et objectifs "fixés" une fois le stage choisi ?
                        • Avez-vous été apprécié comme stagiaire et pour quelles raisons ? Votre personnalité, vos résultats ont ils été remarqués ? Votre capacité de travail, votre sens du travail en équipe ou du relationnel a t il été utile pour le service dans lequel vous avez travaillé ?
                        • Quelles conséquences ce stage a sur votre projet de carrière ? Allez-vous orienter votre recherche d'emploi ou la poursuite de votre formation différemment suite à ce stage ?

                        Pour approfondir votre rapport : essayez aussi de montrer en quoi des théories, résultats théoriques et empiriques publiés ou étudiés lors de votre formation ont pu vous aider dans votre stage. Faites apparaître dans votre rapport une illustration pertinente d'un schéma théorique étudié en cours. Ça plait bien aux profs qui se sentent valorisés : ainsi votre formation aura été utile en entreprise ! Incroyable, tout arrive !

                        Plan type d'un rapport de stage :
                        Le contenu doit être structuré et organisé d'une manière conventionnelle. Cliquez ici pour consulter le plan d'un rapport de stage

                        Le style de votre rapport de stage :
                        Soyez critique ! Ne faites pas un documentaire léger "à la Capital M6" sur une entreprise mais une analyse poussée de l'entreprise et de vos missions. Critiquez avec intelligence les processus de travail imposés par votre chef comme l'organigramme de l'entreprise, les postes présents ou non présents (manquants) dans l'entreprise. Remettez en question si vous proposez de nouvelles solutions !
                        Mettez-vous en valeur et mettez en valeur les missions que vous avez remplies.
                        Vous ne devez pas faire un cours sur l'informatique, le marketing, la compta, etc... vous devez analyser une entreprise, ses forces et faiblesses sur son marché, analyser l'étendue de vos missions et vos compétences en entreprise.

                        La forme de votre rapport de stage :
                        Vos phrases doivent être courtes, précises et riches en infos.
                        L'orthographe et la grammaire doivent être bien sûr irréprochables.
                        Sans indication contraire de votre établissement de formation, le rapport de stage doit comporter de vingt à cinquante pages maximum au format A4, le nombre de pages variant selon la durée et l'importance de votre stage.
                        Utilisez des illustrations, des graphiques pour faciliter la lecture du document... mais n'alourdissez pas le rapport de stage par trop de chiffres ou de documents non pertinents.

                        Un dernier conseil si vous lisez ces lignes avant d'avoir fini votre stage : prenez des notes durant votre stage et commencez à rédiger votre rapport pendant le stage, une fois que vous aurez quitté les murs de l'entreprise il vous sera peut être difficile d'accéder à certaines informations... et vous aurez sans doute des moments ou missions importantes réalisées pendant votre stage.
                        Bon rapport !

                    </div>
                </div>
            </div>




        </div>
    </div>

{% endblock %}