{% extends 'base.html.twig' %}

{% block title %} Gestion Projet{% endblock %}

{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <h3 class="title text-center">{{ projet.sujet|capitalize }}</h3>
        <br>
        <div class="nav-center">
            <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">

                <li class="active">
                    <a href="#description" role="tab" data-toggle="tab" aria-expanded="true">
                        <i class="material-icons">info</i> fichiers
                    </a>
                </li>
                <li class="">
                    <a href="#taches" role="tab" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">location_on</i> Taches
                    </a>
                </li>
                <li class="">
                    <a href="#rapports" role="tab" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">help_outline</i> Rapports
                    </a>
                </li>

            </ul>
        </div>
        <div class="tab-content">

            <div class="tab-pane active" id="description">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Projet</h4>
                        <p class="category">

                        </p>
                    </div>
                    <div class="card-content">

                        <h3>Version actuelle</h3>
                        <a href="{{ asset(projet.webPath) }}" download="{{ projet.sujet}}"><i class="material-icons">cloud_download</i></a>
                        <h3>ajouter une nouvelle version</h3>
                        <a href="{{ path('espace_etudiant_projet_modifier', {'id': projet.id}) }}"><i class="material-icons">folder</i></a>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="taches">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">taches </h4>
                    </div>
                    <div class="card-content">
                        <table class="table">
                            <tbody>
                            {% for tache in taches %}

                            <tr>
                                <td style="width: 40px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes-{{ tache.id }}" {{ tache.check ? 'checked' : '' }}>
                                        </label>
                                    </div>
                                </td>
                                <td>{{ tache.titre }}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="rapports">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">rapport</h4>
                        <p class="category">

                            </a>
                        </p>
                    </div>
                    <div class="card-content">
                        <a href="{{ path('espace_etudiant_rapport_projet_creer', {'id': projet.id}) }}">
                            <i class="material-icons">assignment</i>
                    </div>

                </div>
            </div>




        </div>
    </div>

{% endblock %}