
<!DOCTYPE HTML>

<html lang="fr">
<head>
    <title>pfe master</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('administration/css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ asset('administration/css/noscript.css') }}" /></noscript>
    {% endblock %}
</head>
<body class="is-preload">

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Bienvenu</a></li>
                <li><a href="#one">Nos utlisateurs</a></li>
                <li><a href="#two">Nos services</a></li>
                <li><a href="#three">contact</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>pfeMaster</h1>
            <p> Garantir un encadrement pfe plus facile pour les etudiants et les encadreurs  </p>
            <ul class="actions">
                <li><a href="#two" class="button scrolly">voir plus</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2 spotlights">

        <section>
            <a class="image"><img src="{{ asset('administration/img/encadreur.jpg') }}" alt="" data-position="top center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Espace Encadreur</h2>
                    <p>espace pour les professeur encadreur </p>
                    <ul class="actions">
                        <li><a href="{{ path('inscription_encadreur') }}" class="button">s'inscrire</a></li>
                        <li><a href="{{ path('app_login') }}" class="button">se Connecter</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a  class="image"><img src="{{ asset('administration/img/etudiant.jpg') }}" alt="" data-position="25% 25%" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Espace Etudiant</h2>
                    <p>  espace pour les etudiant en terminal              </p>
                    <ul class="actions">
                        <li><a href="{{ path('inscription_etudiant') }}" class="button">s'inscrire</a></li>
                        <li><a href="{{ path('app_login') }}" class="button">se Connecter</a></li>
                        </ul>
                </div>
            </div>
        </section>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>notre objectifs</h2>
            <p>fournir un espace web pour permettre aux etudiants et leurs encadreurs de se communiquer et de facilite le suivie de travail </p>
            <div class="features">
                <section>
                    <span class="icon major fa-handshake-o"></span>
                    <h3>Espace d'encadrement</h3>
                    <p>lier les encadreurs avec leurs étudiants pour ameliorer la qualité d'encadrement </p>
                </section>
                <section>
                    <span class="icon major fa-eye"></span>
                    <h3>suivie des projets</h3>
                    <p>L'encadreur peut consulter l'avancement de travail des etudiants</p>
                </section>
                <section>
                    <span class="icon major fa-envelope-open-o"></span>
                    <h3>offres de stages</h3>
                    <p>L'etudiant trouve les offres de stages pfe disponibles</p>
                </section>
                <section>
                    <span class="icon major fa-book"></span>
                    <h3>guides pour rapport </h3>
                    <p>Des ancients rapports pour avoir une idée sur la methode de travail    </p>
                </section>
                <section>
                    <span class="icon major fa-calendar"></span>
                    <h3>planification</h3>
                <p>les utilisateurs possèdes une calendrier pour mieux organiser les choses</p>
                </section>
                <section>
                    <span class="icon major fa-tasks"></span>
                    <h3>questions et renseingnemnts</h3>
                    <p>L'encadreur donnes des taches à faires pour les étudiants et donne des commentaires sur le projet de chaque etudaint </p>
                </section>
            </div>


        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style1 fade-up">
        <div class="inner" id="contact">
            <h2>Contactez nous</h2>
            <p>Ne hésitez pas de poser vous questions ou de donner des vous remarques nous sommes à votre service  !  </p>
            <div class="split style1">
                <section>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <form method="post" action="{{ path('envoyer_email') }}">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Nom</label>
                                <input type="text" name="nom" id="name"  required="required"/>
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" required="required"/>
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="5" required="required"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><button class="button submit" type="submit">envoyer Message</button></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Address</h3>
                            <span>Monastir <br />
											stah jaber, TN 5000<br />
											</span>
                        </li>
                        <li>
                            <h3>Email</h3>
                            <a href="">pfeadmin@gmail.com</a>
                        </li>
                        <li>
                            <h3>telephone</h3>
                            <span>(216) 22 111 333</span>
                        </li>
                        <li>
                            <h3>Social</h3>
                            <ul class="icons">
                                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">

        </ul>
    </div>
</footer>
{% block javascripts %}
<!-- Scripts -->
<script src="{{ asset('administration/js/js/jquery.min.js') }}"></script>
<script src="{{ asset('administration/js/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ asset('administration/js/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ asset('administration/js/js/browser.min.js') }}"></script>
<script src="{{ asset('administration/js/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('administration/js/js/util.js') }}"></script>
<script src="{{ asset('administration/js/js/main.js') }}"></script>

{% endblock %}
</body></html>