{% extends 'base.html.twig' %}

{% block title %} Gestion encadreur{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Liste des encadreurs</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-left col-lg-1">Nom</th>
                                <th class="text-left col-lg-1">Prenom</th>
                                <th class="text-left col-lg-2">CIN</th>
                                <th class="text-left col-lg-2">Universite</th>
                                <th class="text-left col-lg-2">Domaine</th>
                                <th class="text-left col-lg-2">supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for encadreur in encadreurs %}
                                <tr>
                                    <td class="text-left">{{ encadreur.utilisateur.nom }}</td>
                                    <td class="text-left">{{ encadreur.utilisateur.prenom }}</td>
                                    <td class="text-left">{{ encadreur.cin }}</td>
                                    <td class="text-left">{{ encadreur.universite.nom }}</td>
                                    <td class="text-left">{{ encadreur.domaine.nom }}</td>


                                    <td class="td-actions text-left">
                                        <a href="{{ path('admin_encadreur_supprimer', {'id': encadreur.id}) }}"
                                           rel="tooltip" class="btn btn-danger btn-simple"
                                           data-original-title="" title="">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
